.div-title {
	align-items: center;
	display: flex; 
	justify-content: center;
	border: 2px solid #18DCC4;
	border-radius: 15px;
	margin: 20px 0 20px 0;
	flex-direction: column;
}

.div-title h1 {
	font-size: 2em;
	margin: 10px;
}

.div-title h2 {
	font-size: 1.5em;
	margin: 10px;
}

nav {
	background-color: #0e8475;
}

.nav-style {
	padding: 0 8em 0 8em;
}

.questoes {
	margin-top: 40px;
}

.btn-voltar {
	margin-top: 1em;
	background: #f6546a;
}

.btn-voltar:hover, .btn-voltar:active, .btn-voltar:focus {
	background: #ac3a4a;
}
green {
	font-weight: bold;
	color: #0e8475;
}

.form, .input {
	margin-top: 20px!important;
}

.div-center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.espaco {
	margin-left: 5px!important;
}

.btn-send {
	padding: 15px 40px 15px 40px;
	justify-content: center;
	align-items: center;
	background: #0066cc;
	border: 3px solid #0066cc;
	display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .5rem;
    color: white;
    transition: 0.5s all;
    cursor: pointer;
}

.btn-send:hover{
	background: white;
	color: #0066cc;
}

.error {
	color: white;
	background: #f6546a;
	font-weight: bold;
}

.card-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
